@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
//@import url("https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$dark-blue: #3F51B5;

body {
  background: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

nav.bg-dark-blue {
  background: $dark-blue;
}

button:focus {
  outline: none;
}

.todo-done {
  text-decoration: line-through;
}